In [2]:
#1.
Scores=[35,50,20,30,55,75,90,95,66,80]

#i.
print(Scores)

#ii.
for score in Scores:
    if score>70:
        print('distinction')
        
#iii.
for score in Scores:
    if 60 <= score <= 70:
        print('first class')
        
#iv.
for score in Scores:
    if 50<=score<=60:
        print('second class')
        
#v.
for score in Scores:
    if 35<=score<=50:
        print('just pass')
        
#vi.
for score in Scores:
    if score<50:
        print('fail')

[35, 50, 20, 30, 55, 75, 90, 95, 66, 80]
distinction
distinction
distinction
distinction
first class
second class
second class
just pass
just pass
fail
fail
fail

In [4]:
#2.
Book_price= {'Python':600, 'Java': 400, 'Web_Tech': 550,
             'OS': 450, 'IT': 700}

for book, price in Book_price.items():
    if price > 500:
        print(book)

Python
Web_Tech
IT

In [8]:
#3.
aList = [1, 2, 3, 4, 5, 6, 7]

y = [x*x for x in aList]
print(y)

[1, 4, 9, 16, 25, 36, 49]

In [11]:
#4.
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

list3 = [x + y for x in list1 for y in list2]
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [6]:
#5.
aList = [100, 200, 300, 400, 500]

aList[::-1]

[500, 400, 300, 200, 100]

In [9]:
#6.
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [10]:
#7.
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [12]:
#8.
list1 = [5, 10, 15, 20, 25, 50, 20]

index = list1.index(20)
list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [13]:
#9.
Player_game={'Sachin':'Cricket', 'Rahul': 'Cricket',
             'Messi': 'Football','Federer': 'Tennis',
             'Anand': 'Chess'}
for player, game in Player_game.items():
    if game == 'Cricket':
        print(player)

Sachin
Rahul

In [14]:
#10.
List1= [1,2,4,5,10,20,4,5,]

print(sum(List1))

51